body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff8f0;
    color: #333;
}

header {
    background-color: #ffee00;
    color: rgb(255, 0, 0);
    padding: 20px;
    text-align: center;
}


.encabezado {
  background-color: #ffee00;
  color: red;
  padding: 20px;
  text-align: center;
}

.encabezado__titulo {
  font-size: 2rem;
}

/* ==== NAVEGACIÓN ==== */


.navegar {
    width: 100%;
    display: flex;
   list-style: none;
    padding: 0;
    position: fixed;
    bottom: 0;
    justify-content: center;
    background-color: #ffcc00;
    
}

.navegar__lista {
    display: inline;
    margin: 0 15px;
    
}

.navegar__link {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
}

.navegar__link:hover{
  color: rgb(255, 145, 0);

}

/* ==== MENÚ ==== */
.menu {
  padding: 40px 20px;
}

.menu__titulo {
  font-size: 2em;
  color: #e65100;
  margin-bottom: 30px;
}

.menu__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  max-width: 1000px;
  margin: auto;
}

.menu__item {
  background-color: orange;
  color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba();
  transition: transform 0.3s ease;
}

.menu__item:hover {
  transform: scale(1.03);
}

.menu__imagen {
  width: 100%;
  height: auto;
  display: block;
}

.menu__contenido {
  padding: 15px;
  text-align: center;
}

.menu__nombre {
  font-size: 1.3rem;
}

.menu__descripcion {
  margin: 10px 0;
}

.menu__precio {
  font-size: 1.2em;
  font-weight: bold;
  color: #fff;
  margin-top: 10px;
}

/* ==== PIE DE PÁGINA ==== */
.pie {
  background-color: grey;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 50px;
}

.pie__texto {
  margin: 5px 0;
}

/* ==== RESPONSIVE ==== */
@media (max-width: 768px) {
  .navegacion__lista {
    flex-direction: column;
    align-items: center;
  }

  .navegacion__item {
    margin: 10px 0;
  }
}

/*Inicio de contacto*/

.contacto {
    padding: 40px 20px;
    max-width: 800px;
    margin: auto;
}

.contacto__box{
   width: 400px;
  margin: 10px auto;
  padding: 10px;  
  border: 1px solid gray;
  box-shadow: 0px 0px 20px gray;
  border-radius: 5px;
}

.nosotros{
    margin-bottom: 30px;

}

.nosotros__box{
    margin-bottom: 30px;

}

.Logo {
   border-radius: 8px;
      padding: 10px;
      text-align: center;
}

.logo__marca{
    max-width: 100%;
}







